
<p>
    <h3>
        <%=project.name%>
        <% if(locals.user && locals.user.id==project.author.id){%>
        <a class="delete-btn" href="/projects/delete/<%=project.id%>">Delete</a>
        <%}%>
    </h3>
    <%=project.description%>
    <br>
<br>
    Project published by:- <%=project.author.name%>
    <br>
    <br>
</p>
