<form  id="project-create" method="post" action="/projects/create">
    <input type="text"  name="name" placeholder="Write project name .." required>
    <textarea rows="2" cols="30" name="description" placeholder="Dscribe your project" required></textarea>
    <input class="button" id="create-project-btn" type="submit" value="Add Project">
</form>