

<div id="sign-in-form-container">
    <h1>Sign In</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Your email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" class="button" id="sign-in-submit" value="Sign In">
</form>
</div>